<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--인터넷 권한 추가-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareRoutine"
        tools:targetApi="31">
        <activity
            android:name="com.withoutsultang.careroutine.view.StartActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.withoutsultang.careroutine.view.HealthCareEditor"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.EditEmail"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.EditPassword"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.Notice"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.UpdateAccountActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.DrugRegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.HealthCareDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.Setting"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.MemberCertify"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.MyPage"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="758bed09e53b41fa875e69103a21100a" />

        <activity
            android:name="com.withoutsultang.careroutine.view.PharmcyMapActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.withoutsultang.careroutine.view.AlarmSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.HealthCareActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.SearchDrugActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.FindAccountActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.DrugDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.withoutsultang.careroutine.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.withoutsultang.careroutine.view.AlarmActivity"
            android:exported="false" />
    </application>

</manifest>